.top3-con {
    padding-top: 1rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 3rem;
}

.card {
    color:#000000;
    position: relative;
    width: 311px;
    height: 346px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 3px #b9b8b8;
}

p.headp {
    font-Weight: bold;
    font-Size: 24px;
    margin-bottom: 5px;
}

p.subp {
    font-Size: 12px;
    margin:0;
}

.card img {
    width: 100%;
}

.textborder {
    background-Color: rgba(255, 255, 255, 0.9);
    position: absolute;
    text-Align: left;
    bottom: 0;
    width: 100%;
    height: 40%;
    border-radius: 0 0 20px 20px;
}

p#textstar {
    background-color: #F24D4D;
    font-Size: 16px;
    font-Weight: bold;
    color: #FFD1D1;
    margin-left: 20px ;
    width: 53px;
    height: 28px;
    border-radius: 10px;
    padding: 5px 0 0 12px;
}

p#textreview {
    font-Size: 12px;
    margin: 20px 0 0 10px;
    padding: 3px 0 0 0;
}

.btn {
    border: none;
    background: none;
    color: #6B6B6B;
    font-Size: 15px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    color: #000000;
    border-bottom: 1.5px solid midnightblue;
}

p#head {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin: 50px 0 0 20px;
}

.con-button {
    margin-top: 10px;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#seeallbtn {
    background-color: #FFD1D1;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 150px;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 20px;
}

#seeallbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#seeallbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#seeallbtn:hover span {
    padding-right: 25px;
}

#seeallbtn:hover span:after {
    opacity: 1;
    right: 0;
}

.rank1,.rank2,.rank3 {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.rank1 {
    padding-bottom: 10px;
}

.rank2 {
    padding-top: 20px;
}

.rank3 {
    padding-top: 20px;
}

.con-rank {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 18rem;
    padding-top: 0px;
}

#fireicon {
    color: #ff4000;
    margin-left: 10px;
}