.container {
    width: 100%;

}

.detail-con {
    padding-top: 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    background-color: orange;
}

.detail {
    border-radius: 15px;
    box-shadow: 2px 3px 3px grey;
}

.less-detail {

    border-radius: 15px;
    box-shadow: -2px 3px 3px grey;
}

.map {
    background-color: green;

    border-radius: 15px;
    box-shadow: 2px 3px 3px grey;
}

p.headpp {
    font-Weight: bold;
    font-Size: 38px;
    margin-bottom: 5px;
    margin-top: 0;
}

p.subp {
    font-Size: 18px;
    margin: 0;
}

.picture-border {
    display: grid;
    width: 100%;
    grid-template:
        'img1 img1 img1 img2'
        'img1 img1  img1 img3'
    ;
    background-color: aquamarine;
    gap: 3rem;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.picture-border img {
    width: 50%;
}

p#textstar {
    background-color: #F24D4D;
    font-Size: 16px;
    font-Weight: bold;
    color: #FFD1D1;
    margin-left: 25px;
    width: 53px;
    height: 28px;
    border-radius: 10px;
    padding: 5px 0 0 12px;
}

p#textreview {
    font-Size: 12px;
    margin: 20px 0 0 10px;
    padding: 3px 0 0 0;
}

p#avai {
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 84px;
    height: 28px;
    background-color: #82CD67;
    padding: 0;
    margin-left: 25px;
    font-size: 16px;
}

p#place {
    margin-top: 0;
}

p#time {
    margin-left: 0;
    font-weight: bold;
}

p#conve {
    font-size: 24px;
    font-weight: bold;
}

p#time2 {
    font-size: 24px;
    font-weight: bold;
}

p#seat {
    font-size: 24px;
    font-weight: bold;
}

p#border-bottom {
    border-bottom: solid 0.5px black;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 12px;
    padding-bottom: 5px;
}

.review {
    margin-top: 3rem;
    background: #FFD1D1;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
}

.sui-top {
    background: #F24D4D;
    display: flex;
    justify-content: space-between;
}